body{
    margin:0;
}
.Welcome--container{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/human-mind.jpg) ;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.welcome--title{
    color: white;
    font-size: 3rem;
    
}
.start--button{
    height: 2.5rem;
    width: 10rem;
    background-color: rgb(79, 122, 224);
    border: none;
    border-radius: .5rem;
    opacity: .9;
    color: white;
    font-weight: 500;
    font-size: large;
}